{% load static %}
{% block head %}
<head>
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
	<link rel='stylesheet' href='/static/css/blog.css' />
	<script src='{% static "js/jquery-1.11.0.min.js" %}'></script>

	<script type='text/javascript' src='/static/js/blog.js'>
	
	</script>
</head>
{% endblock %}
<html>
<div id="mainContainer">
	{% block content %}
	<div id="blogList">
		<ul>
		{% for blog in blogs %}	
			<li> <a href="/blog/{{blog.url}}">{{blog.title}}</a>
				<br>{{blog.date}}
				<br>{{blog.description}}
			</li>
		{% endfor %}
		</ul>
	{% endblock %}
	</div>
	{% block footer %}
	<div id="footer">
			<a href="/">vn2.ai</a>
		</div>

	{% endblock %}

</div>
</html>

