{% extends 'base.html' %}
{% load static %}
	<head>
		<title> Charlie	Van Norman</title>
	<link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon_z.png" />		
	<meta name="google-site-verification" content="KPrCTIkFg3RCIWPoYvQO3QBnFcEqKflrEQI_6ztrwzE" />
	{% block styles %}
		{{ block.super }}
		<link rel='stylesheet' href="{% static 'css/home.css' %}" type='text/css'>
		<link rel='stylesheet' href="/static/css/imageviewer.css{{version}}" type='text/css'>
		<link rel='stylesheet' href="/static/css/canvas_big.css{{version}}" type='text/css'>
		<link rel='stylesheet' href="/static/css/portfolio.css{{version}}" type='text/css'>
	{% endblock %}

	{% block scripts %}
		{{ block.super }}
<!--		<script src='static/js/home.js'|add:version|safe %}'></script>-->
		<script src='static/js/imageviewer.js'|add:version|safe ></script>
	{% endblock %}
	</head>
<body>

{% block content %}
<div id="content">
	<div class="tab" id="tab_hello">
		<div class="container">
			<div class="title"> Charlie Van Norman </div>
			<P> Hello! I develop micro campus real estate projects in Latin America, with a foucs on regenerative living, startups, and remote work. I also do tech consulting, play music, and build games and 3D software.</p>
		</div>
		
	</div>
<!--	<div class="tab" id="tab_about">
		<div class="title"> About me </div>
 <p> Video games had a big impact on me; growing up I would find myself totally engrossed in deep and rich virtual worlds, often with my friends, for hours at a time. Games are one of the highest fidelity ways to create and share experiences. </p> 
		<p> I love to build and play gamesLately, I've been building VR and AR apps, as well as deep neural networks. </p>
		<p> Currently, I am studying deep learning.
	</div> 
	-->
	<div class="tab" id="tab_blog">
		<div class="container">
			<div class="title"> Blog </div>
		<p> <a href="https://vannorman.medium.com/the-presales-equation-ce39703974f8">The Enterprise Pre-Sales Equation</a> </p>
		<p> I have a lot more to say but I don't want to clutter the internet up with unstructured thoughts. Stay tuned for more publications!</p>
<!-- It's said that writing is like social networking at scale. Here I articulate my thoughts on education, math, biophysics and startups: <a href="http://blog.vn2.ai/">blog.vn2.ai</a>. <span style='color:#f99'> This blog is under construction, so not all links/articles may work properly.</span>
			<p> My goal with this blog is to enable conversations, opporunities, and ultimately contribute to my life's mission of educating and empowering as many people as possible.

			</p> -->
		</div>
		
	</div>

	<div class="tab" id="tab_portfolio">
		<div id="portfolio">
		<div class="title"> Portfolio </div>

		<ul>
			{% for item in works %}
				<li class='item'>
					<div class='title'><a href={{item.link}} target="_blank"> {{ item.title }} </a></div>
				{% if item.video.source %}
					<div class="iframe" style="height:360px;width:640px;">
						<iframe src="{{item.video.source}}" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
				{% endif %}
					<div class='featured'>

					</div>
					<div class="backgroundGradient"></div>
					<div class='content'>
						<div class="top1">
							<div class="description">
								{{ item.description|safe }} 
								<!-- &#8212; 
								{{ item.position }} -->
							</div>
						</div>
					
					<div class="imageListContainer">
							<ul class='imageList'>
								
							{% for image in item.images %}
								<li>
									<a class="imageLink" href=javascript:void(0) onclick=javascript:IMAGE_VIEWER.Show(this); target='_blank' name='{{image.img}}'> 
										<div class="img {{image.class}}" style='background-image:url("/static/img/{{ image.img }}");' ></div>
										<div class='imageHover {{image.class}}'></div>
									</a>
									
								</li>
							{% endfor %}
							</ul>
						</div>
				</li>
			{% endfor %}
		</ul>
		
	</div>
	<div class="tab" id="tab_contact">
		<div class="email">
			<ul style="list-style-type:none">
				<li> <a href="mailto:charlie@vannorman.ai" target="_blank">charlie@vannorman.ai</a> </li>
<li>				<a href="https://github.com/vannorman/" target="_blank">github</a></li>
<li>				<a href="https://facebook.com/ai.vannorman/" target="_blank">Facebook</a></li>
<li>				<a href="https://linkedin.com/in/vannorman-ai/" target="_blank">LinkedIn</a></li>
		</div>
	</div>
</div>

{% endblock %}





